<!DOCTYPE html>
<html lang="en">

<head>
<%- include('partials/head.ejs'); -%>
</head>

<body>
  <header>
    <img class="logo" src="images/love_lingo_logo.svg" alt="">
    <h1>SIGN IN</h1>
  </header>

  <main>

    <form action="/sendLoginForm" method="POST">

      <div class="email">
        <label for="">E-MAILADRES</label>
        <input type="email" name="email">
      </div>

      <div class="password">
        <label for="">PASSWORD</label>
        <input type="password" name="password">
      </div>

      <div class="loginButton">
        <button type="button" name="signin_button">LOGIN</button>
      </div>

    </form>

    <div class="loginMessage">Not a member yet? <a href="http://localhost:3000/signup">Sign up</a>
    </div>

  </main>

  <footer></footer>
</body>

</html>
