<!DOCTYPE html>
<html lang="en">

<head>
<%- include('partials/head.ejs'); -%>
</head>

<body>
  <header>
    <img class="logo" src="images/love_lingo_logo.svg" alt="">
    <h1>SIGN UP</h1>
  </header>

  <main>

    <form class="signupForm" action="/sendSignupForm" method="POST">

      <div class="name">
        <label for="">NAME</label>
        <input type="text" name="user">
      </div>

      <div class="email">
        <label for="">E-MAILADRES</label>
        <input type="email" name="email">
      </div>

      <div class="password">
        <label for="">PASSWORD</label>
        <input type="password" name="password">
      </div>

      <div class="signupButton">
        <button type="submit" name="signin_button">SUBMIT</button>
      </div>
    </form>

    <div class="signupMessage">Already a member? <a href="http://localhost:3000/">Login</a>
    </div>

  </main>

  <footer></footer>
</body>

</html>
