<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="css/style.css">
  <title>Love Lingo</title>
</head>

<body>
  <header>
    <img class="logo" src="images/love_lingo_logo.svg" alt="">
    <h1>Question 1:</h1>
  </header>

  <main>

      <form action="/sendAgeForm" method="post">

        <div>
          <label for="age">Age:</label>
          <input type="number" id="age" min="18" name="user_age">
        </div>

        <div class="button">
          <button type="submit">Next</button>
        </div>

      </form>

    </main>


</body>

</html>
