<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="css/style.css">
  <title>Love Lingo</title>
</head>

<body>
  <header>
    <img class="logo" src="images/love_lingo_logo.svg" alt="">
    <h1>SIGN UP</h1>
  </header>

  <main>

    <form class="signupForm" action="/signup" method="POST">

      <div class="name">
        <label for="">NAME</label>
        <input type="text" name="name">
      </div>

      <div class="email">
        <label for="">E-MAILADRES</label>
        <input type="email" name="email">
      </div>

      <div class="password">
        <label for="">PASSWORD</label>
        <input type="password" name="password">
      </div>

      <div class="signupButton">
        <button type="submit" name="signin_button">SUBMIT</button>
      </div>
    </form>

    <div class="signupMessage">Already a member? <a href="http://localhost:3000/">Login</a>
    </div>

  </main>

  <footer></footer>
</body>

</html>
